@page {
  size: 21cm auto;
  margin: 0cm;
  padding: 0.5cm;
}

body {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
